#EXPO_PUBLIC_API_GATEWAY_URL=https://your-api-gateway.execute-api.us-east-1.amazonaws.com
EXPO_PUBLIC_API_GATEWAY_URL=http://localhost:8001
EXPO_PUBLIC_GOOGLE_CLIENT_ID=tu-client-id-aqui.apps.googleusercontent.com